.menusmc{
    width: 100%;
    margin-left: 30px;
}
.panel{
    width: 170px;
    display: flex;
    padding: 7px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-color: #ebccd1;
}
.label,label{
    font-size: .9em;
    font-family: fantasy;
}

 .Ad .text{
    display: flex;
    justify-content: center;
    font-size: small;
    color: white;
    margin-top: 5px;
    background-color: #148C8A;
    width: 8.9rem;
    height: 1.5rem;
    border-radius: 5px;
    text-align: center;

} 
