.myhead {
    font-size: 12px !important;
    background-color: #148C8A;
    color: white;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.myhead .nav-item {
    margin: 5px;
}

.myhead .nav-link {
    color: white !important;
    font-size: larger !important;
}

.profile-toggle {
    color: white !important; 
  }
