.myhead {
    font-size: 10px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #009999;
    color: white;
    height: 50px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: absolute;
    position: fixed;
    font-family: Arial, sans-serif; 
}

.myhead .nav-item {
    margin: 5px;
}

.myhead .nav-link {
    color: white !important;
    font-size: larger !important;
}

.profile-toggle {
    color: white !important; 
  }
