#support{

    margin: 17px 6px 0px 11px;
    padding: 0;
    border: 0;
    /* background-color: red; */
    /* height: 89vh; */
    /* border: 0 !important;
    background-color: red;
    margin:19px 10px 10px 0px !important; */
    
}
#support .card-image{
    height: 50%;
}